*{
    box-sizing: border-box;
}
.hidden{
    display:none;
    margin: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff5e9;
    color: #1D4E89;
    padding: 30px 25px;
}
h1{
    font-family: 'Silkscreen', cursive;
    text-align: center;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px 0;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
input,button{
    color: #1D4E89;
    margin: 5px;

}

.btn{
    background: #7DCFB6;
    border-radius: 5px;
    border: 2px solid #F79256;
    height: 30px;
    font-weight: 700;
}

input{
    height: 25px;
}
input:active{
    border:#F79256 2px solid;
}
a{
    text-decoration: none;
    color: #1D4E89;
}
a:hover, a:visited, a:active{
    color: inherit;
}
section{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
form{
    margin-top: 10px;
}
div{
    display: flex;
    justify-content: center;
}
i{
    align-self: center;
    margin-left: 10px;
}
@media (max-width: 424px) {
 
    input{
        margin-top: 4px;
    }
}